*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#FFF
}

:root{
    --main-bg-color:#454545;
    --secondary-bg-color:#400400;
    --hover-bg-color:#422422;
    --main-txt-color:#FFF;
    --secondary-txt-color:#FFF100;
}

.sidebar{
    width: 250px;
    height:100%;
    background: var(--main-bg-color);    
    padding: 1rem;
    transition: .5s all ease;
}

.top-sidebar{
    padding: 1rem;
    border-bottom: 1px solid #777122;
}
.top-sidebar i{
    display: none;
}
.medium-sidebar{
    padding: 1rem;
    border-bottom: 1px solid #777122;
}
.sidebar-item{
    padding: 1rem;    
    transition: .5s all ease;
    
}
.sidebar-item a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #FFF231;
    margin-left: 1rem;
}
.sidebar-item i{
    font-size: 1.1rem;
    color: #FFF100;
}
.sidebar-item:hover{
    background: var(--secondary-bg-color);
    border-radius: 10px;
    color: #FFF;
}
.sidebar-item:hover a{    
    color: #FFF;
}
.bottom-sidebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}
.mode{    
    cursor: pointer;
    width: 30px;    
    height: 30px;
    border-radius: 5px;
}
.mode1{    
    background: #00f;
}
.mode2{    
    background: #F00;
}
.mode3{    
    background: #000;
}
.mode4{    
    background: #FFF;
}

/*=====================media queries==============*/
@media screen and (max-width:600px) {
    .sidebar{
        width: 50px;
        padding-left: 0;
        padding-right: 0;        
    }
    .top-sidebar{
        padding-left: 0;
        padding-right: 0;        
    }
    .top-sidebar h3{
        display: none;
    }
    .top-sidebar i{
        display: block;
    }
    .medium-sidebar{
        padding: 0;
    }
    .sidebar-item{
        padding-left: 0;
        padding-right: 0;
    }
    .sidebar a{
        display: none;
    }
    .bottom-sidebar{
        flex-direction: column;
        gap: 1rem;
    }
}
